<h2><%= @cat.name %>'s Stats </h2>

<!-- <table>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Color</th>
    <th>Sex</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><%= @cat.name  %> </td>
    <td><%= @cat.age   %> </td>
    <td><%= @cat.color %> </td>
    <td><%= @cat.sex   %> </td>
    <td><%= @cat.description  %> </td>
  </tr>
</table> -->

<table>
  <tr>
    <% Cat.attribute_names.each do |data| %>
    <th>
      <%= data %>
    </th>
    <% end %>
  </tr>

  <tr>
    <% Cat.attribute_names.each do |data| %>
    <td>
      <%= @cat.send(data) %>
    </td>
  <% end %>
</tr>
</table>
<br>
<b>Rental Requests</b>
<br>
<% @requests = @cat.cat_rental_requests.order(:start_date) %>
<ul>
<% @requests.each do |request| %>
<li>
ID: <%= request.id %> Start Date: <%= request.start_date %> / End Date: <%= request.end_date %>
<% if request.pending? %>
  <%= button_to "Approve", approve_cat_rental_request_path(request), method: 'POST' %> <%= button_to "Deny", deny_cat_rental_request_path(request), method: "POST" %>
</li>

</ul>
<br>
<% end %>
<% end %>
